html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --primary-color1: hsl(256, 26%, 20%);
    --primary-color2: hsl(216, 30%, 68%);

    --neutral-color1: hsl(270, 9%, 17%);
    --neutral-color2: hsl(273, 4%, 51%);
    --neutral-color3: hsl(0, 0%, 98%);

    --font-smooth-weight: 400;
    --font-bold-weight: 700;

    --font-family-dm-serif: 'DM Serif Display', serif;
    --font-family-karla: 'Karla', sans-serif;
}
body {
    font-size: 16px;
}

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: var(--font-family-dm-serif);
}
.header__icon-hamburger {
    cursor: pointer;
}
.header__menu {}