html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --primary-color1: hsl(256, 26%, 20%);
    --primary-color2: hsl(216, 30%, 68%);

    --neutral-color1: hsl(270, 9%, 17%);
    --neutral-color2: hsl(273, 4%, 51%);
    --neutral-color3: hsl(0, 0%, 98%);

    --font-smooth-weight: 400;
    --font-bold-weight: 700;

    --font-family-dm-serif: 'DM Serif Display', serif;
    --font-family-karla: 'Karla', sans-serif;
}
body {
    font-size: 16px;
}

/* global classes */
.button {
    border: 2px solid;
    padding: 10px 30px;
    cursor: pointer;
    transition: all ease 0.3s;
    text-transform: uppercase;
    font-family: var(--font-family-karla);
}
.button--white {
    border-color: var(--neutral-color1);
    color: var(--neutral-color1);
}
.button--white:hover {
    background-color: var(--neutral-color1);
    color: var(--neutral-color3);
}
.button--black {
    border-color: var(--neutral-color3);
    color: var(--neutral-color3);
}
.button--black:hover {
    border-color: var(--neutral-color1);
    background-color: var(--neutral-color3);
    color: var(--neutral-color1);
}


/* elements classes */

.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-family: var(--font-family-karla);
}
.header__menu-mobile {
    display: flex;
    flex-direction: column;
}
.header__icon-hamburger {
    cursor: pointer;
}
.header__list-mob,
.header__item-mob {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header__list-mob {
    display: none;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-smooth-weight);
    background-color: var(--neutral-color1);
    color: var(--neutral-color3);
    z-index: 99;
}
.header__item-mob {
    padding: 15px;
    margin: 5px 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.header__item-mob--border {
    border: 2px solid var(--neutral-color3);
}
.header__bg-pattern-nav-mob {
    width: 100%;
    height: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.banner {
    display: flex;
    flex-direction: column;
}
.banner__image {
    width: 100%;
}
.banner__bg-pattern-left-mob {
    position: absolute;
    left: 0;
    top: 0;
}
.banner__content {
    background-color: var(--primary-color1);
    color: var(--neutral-color3);
    position: relative;
}
.banner__text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
}
.banner__title {
    margin: 0;
    text-align: center;
    font-size: 46px;
    z-index: 1;
}
.banner__description {
    color: var(--neutral-color3);
    font-family: var(--font-family-karla);
    line-height: 23px;
    text-align: center;
}
.banner__button {
    margin-top: 25px;
}

@media screen and (min-width: 640px) {
    .header {
        max-width: 1080px;
        margin: auto;
    }
    .header__menu-mobile {
        flex-direction: row;
    }
    .header__icon-hamburger {
        display: none;
    }
    .header__list-mob {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        height: 100%;
        position: unset;
        font-size: 14px;
        background-color: #FFF;
        color: var(--neutral-color1);
    }
    .header__item-mob {
        margin: 0;
        color: var(--neutral-color2);
        transition: all ease 0.5s;
    }
    .header__item-mob:hover {
        color: var(--neutral-color1);
    }
    .header__item-mob--border {
        border: 2px solid var(--neutral-color1);
        padding: 10px 25px;
    }
    .header__item-mob--border:hover {
        background-color: var(--neutral-color1);
        color: var(--neutral-color3);
    }
    .header__bg-pattern-nav-mob {
        display: none;
    }
}