html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --primary-color1: hsl(256, 26%, 20%);
    --primary-color2: hsl(216, 30%, 68%);

    --neutral-color1: hsl(270, 9%, 17%);
    --neutral-color2: hsl(273, 4%, 51%);
    --neutral-color3: hsl(0, 0%, 98%);

    --font-smooth-weight: 400;
    --font-bold-weight: 700;

    --font-family-dm-serif: 'DM Serif Display', serif;
    --font-family-karla: 'Karla', sans-serif;
}
body {
    font-size: 16px;
}

/* global classes */
.container {
    max-width: 1080px;
    margin: auto;
}
.button {
    border: 2px solid;
    padding: 10px 30px;
    cursor: pointer;
    transition: all ease 0.3s;
    text-transform: uppercase;
    font-family: var(--font-family-karla);
}
.button--white {
    border-color: var(--neutral-color1);
    color: var(--neutral-color1);
}
.button--white:hover {
    background-color: var(--neutral-color1);
    color: var(--neutral-color3);
}
.button--black {
    border-color: var(--neutral-color3);
    color: var(--neutral-color3);
}
.button--black:hover {
    border-color: var(--neutral-color1);
    background-color: var(--neutral-color3);
    color: var(--neutral-color1);
}


/* elements classes */
.header {
    height: 80px;
    font-family: var(--font-family-karla);
}
.container__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}
.header__menu {
    display: flex;
    flex-direction: column;
}
.header__icon-hamburger {
    cursor: pointer;
}
.header__list,
.header__item {
    list-style: none;
    margin: 0;
    padding: 0;
}
.header__list {
    display: none;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    font-weight: var(--font-smooth-weight);
    background-color: var(--neutral-color1);
    color: var(--neutral-color3);
    z-index: 99;
}
.header__item {
    padding: 15px;
    margin: 5px 20px;
    cursor: pointer;
    transition: all ease 0.3s;
}
.header__item-mob {
    border: 2px solid var(--neutral-color3);
}
.header__bg-pattern-nav-mob {
    width: 100%;
    height: 40%;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.banner {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.banner__bg-pattern-left-mob {
    position: absolute;
    left: 0;
    top: 0;
}
.banner__bg-pattern-left-desktop {
    display: none;
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
}
.banner__bg-pattern-right-mob {
    position: absolute;
    right: 0;
    bottom: 0;
}
.banner__bg-pattern-right-desktop {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.banner__background {
    width: 100%;
    background-color: var(--primary-color1);
    color: var(--neutral-color3);
    position: relative;
}
.banner__content {
    display: flex;
    flex-direction: column;
}
.banner__img {
    width: 100%;
}
.banner__text-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px;
    position: relative;
}
.banner__title {
    margin: 0;
    text-align: center;
    font-size: 46px;
    z-index: 1;
}
.banner__description {
    color: var(--neutral-color3);
    font-family: var(--font-family-karla);
    line-height: 23px;
    text-align: center;
}
.banner__button {
    margin-top: 25px;
}
.banner__white-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    background-color: #FFF;
}
.white-area__content {
    display: none;
    width: 100%;
    max-width: 1080px;
    margin: auto;
    padding: 20px;
}
.banner__line {
    width: 150px;
    height: 2px;
    background-color: #AAA;
    text-align: center;
    margin-top: 50px;
}

.container__information {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.information__title {
    font-size: 46px;
    text-align: center;
}
.information__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px 0;
}
.information__icon {
    margin-bottom: 10px;
}
.information__subtitle {
    font-size: 26px;
    margin: 15px 0;
}
.information__description {
    margin: 0;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    line-height: 24px;
    font-family: var(--font-family-karla);
    color: var(--neutral-color2);
}

@media screen and (min-width: 640px) {
    .header__menu {
        flex-direction: row;
    }
    .header__icon-hamburger {
        display: none;
    }
    .header__list {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        height: 100%;
        position: unset;
        font-size: 14px;
        background-color: #FFF;
        color: var(--neutral-color1);
    }
    .header__item {
        margin: 0;
        color: var(--neutral-color2);
        transition: all ease 0.5s;
    }
    .header__item:hover {
        color: var(--neutral-color1);
    }
    .header__item-mob {
        border: 2px solid var(--neutral-color1);
        padding: 10px 25px;
    }
    .header__item-mob:hover {
        background-color: var(--neutral-color1);
        color: var(--neutral-color3);
    }
    .header__bg-pattern-nav-mob {
        display: none;
    }

    .banner__content {
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1080px;
        margin: auto;
        padding: 20px;
    }
    .banner__bg-pattern-left-mob,
    .banner__bg-pattern-right-mob {
        display: none;
    }
    .banner__bg-pattern-left-desktop,
    .banner__bg-pattern-right-desktop {
        display: block;
    }
    .banner__image-area {
        flex: 1;
    }
    .banner__text-area {
        flex: 1;
        padding-left: 0;
        padding-right: 10px;
    }
    .banner__white-area {
        height: 300px;
    }
    .white-area__content {
        display: flex;
    }
    .banner__line {
        text-align: left;
    }

    .container__information {
        flex-direction: row;
    }
    .information__title {
        font-size: 60px;
        margin-left: 25px;
        text-align: left;
    }
    .information__card {
        align-items: flex-start;
        margin: 0 25px;
    }
    .information__description {
        padding: 0;
        text-align: left;
    }
}

@media screen and (min-width: 768px) {
    .banner__image-area {
        position: relative;
        top: 80px;
    }
}

@media screen and (min-width: 1080px) {
    .information__title,
    .information__card {
        margin-left: 0;
    }
}